.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 20px;

  background-color: #4998e7;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#calendar {
  width: 2000px;
}

/* 整備メニュー */
.menu {
  position: relative;
  width: 100%;
  min-width: 240px;
  height: 25px;
  /* margin: 0 auto; */
  margin-left: 10%;
  margin-top: 10%;
}

.menu:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 0 15px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu:hover {
  background: #01f5cc;
  /* min-width: 240px;
    text-align: left; */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

ul {
  position: absolute;
  top: -23px;
  width: 100%;
  background: #2d7368;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.menu:hover ul {
  top: -23px;
  visibility: visible;
  opacity: 1;
  margin-top: 20%;
}

li {
  float: left;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #2d7368;

  color: #fff;
}

li:hover {
  top: 50px;
  visibility: visible;
  opacity: 1;

  color: #f5a505;
}

input {
  text-align: center;
  margin-left: 10%;
  margin-top: 10%;
}

#InputButton,#RemoveButton,#CancelButton {
  margin-left: 30%;
  margin-top: 20%;
  display: inline-block;
  text-decoration: none;
  color: #0015ff;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border-radius: 5%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: 0.4s;
}

#InputButton:hover ,#RemoveButton:hover ,#CancelButton:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.invisible {
  visibility: hidden;
  opacity: 0;
}